@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bungee+Shade&family=IM+Fell+English+SC&family=Rubik+Moonrocks&family=Sevillana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .home-section{
        width: 100%; 
    }
    nav{
      background-image: url(../images/background2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .navbar-brand{
      font-family: "IM Fell English SC", serif;
      font-weight: 500;
      font-size: 40px;
      transition: 0.6s ease-out;
    }
    .navbar-nav a{
      font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    transition: 1s ease;

    }
    .navbar-nav a:hover {
      font-size: 22px;
      text-shadow: 2px 2px 8px #FF0000;
  

    }
    .hero-secation-name{
      font-family: "Rubik Moonrocks", sans-serif;
      text-align: center;
  
      
    }
    .hero-secation-name-p{
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-transform: capitalize;
      color: #282424;
     

    }
    

 

    

    .swiper {
      width: 240px;
      height: 320px;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    .swiper-slide:nth-child(1n) {
      background-color: rgb(206, 17, 17);
    }

    .swiper-slide:nth-child(2n) {
      background-color: rgb(0, 140, 255);
    }

    .swiper-slide:nth-child(3n) {
      background-color: rgb(10, 184, 111);
    }

    .swiper-slide:nth-child(4n) {
      background-color: rgb(211, 122, 7);
    }

    .swiper-slide:nth-child(5n) {
      background-color: rgb(118, 163, 12);
    }

    .swiper-slide:nth-child(6n) {
      background-color: rgb(180, 10, 47);
    }

    .swiper-slide:nth-child(7n) {
      background-color: rgb(35, 99, 19);
    }

    .swiper-slide:nth-child(8n) {
      background-color: rgb(0, 68, 255);
    }

    .swiper-slide:nth-child(9n) {
      background-color: rgb(218, 12, 218);
    }

    .swiper-slide:nth-child(10n) {
      background-color: rgb(54, 94, 77);
    }
  
/* Initially hide the navbar */


    
