    @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bungee+Shade&family=IM+Fell+English+SC&family=Mukta:wght@200;300;400;500;600;700;800&family=Rubik+Moonrocks&family=Sevillana&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins' sans-serif;
        
        
        
        background-color: #081b29;
    }
    
    body {
        color: #ededed;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;

    }
    .navbar-toggler-icon{
        color: white;
        font-size: 30px;
        
    }

    .logo {
        position: relative;
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        cursor: default;
        opacity: 0;
        animation: slideRight 1s ease forwards;

    }

    .navbar a {
        display: inline-block;
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        font-family: "IM Fell English SC", serif;
        font-weight: 400;
        font-style: normal;
        margin-left: 35px;
        transition: -3s;
        animation: slideTop .5s ease forwards;
        animation-delay: calc(.2s * var(--i));
    }


    .navbar a:hover {
        color: #0ef;
    }
    .home {
        position: relative;
        width: 100%;
        justify-content: space-between;
        height: 100vh;
        background: url(wallpaper1.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 70px 10% 0;

    }

    .home-content {
        max-width: 600px;

    }

    .home-content h3 {
        font-size: 32px;
        font-weight: 700;
        opacity: 0;
        color: yellow;
        animation: slideBottom 1s ease forwards;
        animation-delay: .7s;

    }

    .home-content h3:nth-of-type(2) {
        margin-bottom: 30px;
        animation: slideTop 1s ease forwards;
        animation-delay: .7s;

    }

    .home-content h3 span {
        color: #0ef;
    }

    .home-content h1 {
        font-size: 56px;
        font-weight: 700;
        margin: -3px 0;
        color: yellow;
        opacity: 0;
        animation: slideRight 1s ease forwards;
        animation-delay: 1s;

    }

    .home-content p {
        font-size: 20px;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: 1s;
        color: yellow;


    }

    .home-sci a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #0ef;
        border-radius: 50%;
        text-decoration: none;
        transition: .5s ease;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: calc(.2s * var(--i));
        margin: 30px 15px 30px 0;


    }

    .home-sci a:hover {
        background: #0ef;
        color: #081b29;
        box-shadow: 0 0 20px #0ef;

    }

    .btn-box {

        display: inline-block;
        padding: 12px 28px;
        background: #0ef;
        border-radius: 40px;
        font-size: 16px;
        color: #081b29;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        animation: slideTop 1s ease forwards;
        animation-delay: .2s;
        box-shadow: 0 0 5px #0ef,
            0 0 25px #0ef;




    }
    .btn-box:hover {
        box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;

    }
    .about{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       align-items: center;
       gap: 1.5rem;
       
       background: #081b29;


    }
    .about-img img{

        padding-bottom: 20%;
        max-width: 630px;
        height: auto;
        width: 100%;
        border-radius: 8px;

    }

    .about-text{
        text-align: center;
        padding: 20px;
    }
    .about-text h2{

        color: aliceblue;
        font-size: 60px;
        
        
    }
    .about-text h2 span{
        color: #0ef;
        
    }
    .about-text h4{
        color: aliceblue;
        font-size: 29px;
        font-weight: 600;
        line-height: 1.7;
        margin: 15px 0 30px;

    }
    .about-text p{
        color: aliceblue;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 4rem;


    }
    #services{
        background: #081b29;
        color: aliceblue;
        font-size: 20px;
        line-height: 1.4;
        /* margin-bottom: 4px; */

    }
    .sub-title{
        text-align: center;
        font-size: 60px;
        padding-bottom: 70px;
        color: aliceblue;

    }
    .sub-title span{
        color: #0ef;

    }
    .container{
        padding: 90px;

    }
    .services-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
        grid-gap: 40px;
        margin-top: 50px;


    }
    .services-list div{
            background-color: transparent;
            padding: 40px;
            font-style: 13px;
            border-right: 10px;
            font-weight: 13px;
            border-radius: 20px;
            transition: background 0.5s, transform 0.5s;
            box-shadow: 1px 1px 20px #012290f7,
                        1px 1px 40px #0053b8f7;


    }
    .services-list div i{
        font-size: 50px;
        margin-bottom: 30px;

    }
    .services-list div h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .services-list div a{
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        margin-top: 20px;
        display: inline-block;

    }
    .read{
        display: inline-block;
        padding: 12px 28px;
        background: #0ef;
        border-radius: 40px;
        font-size: 16px;
        color: #081b29;
        letter-spacing: 1px;
        font-weight: 600;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        animation-delay: .2s;
        box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;

    }
    .read:hover{
        background: #0ef;
        color: #081b29;
        box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;

    }
    .services-list div:hover{
        transform: translateY(-10px);

    }
    section{
        display: flex;
        flex-wrap: wrap;
    }
    .container1{
        width: 600px;
        height: 500px;
        padding: 75px 90px ;
        margin-left: 120px;

    }
    .heading1{
        text-align: center;
        text-decoration: underline;
        color: aliceblue;
        text-underline-offset: 10px;
        text-decoration-thickness: 5px;
        margin-bottom: 50px;

    }
    .bar{
        font-size: 23px;
        
    }
    .technical-bars .bar{
        margin-top: 40px 0;


    }
    .technical-bars .bar:first-child{
        margin-top: 0;

    }
    .technical-bars .bar:last-child{
        margin-bottom: 0;

    }
    .technical-bars .bar .info{
        margin-bottom: 5px;
        
    }
    .technical-bars .bar .info span{
        font-size: 17px;
        font-weight: 500;
        color: #0ef;
        animation: showText 0.5s 1s linear forwards;
        opacity: 0;
    }
    .technical-bars .bar .progress-line{
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 5px;
        background-color:#000000;
        animation: animate 1s ease forwards;
        transform-origin: left;

    }
    @keyframes animate{
        0%{
            transform: scaleX(0);
        }
        100%{
            transform: scaleX(1);
        }
    }
    .technical-bars .bar .progress-line span{
        height: 100%;
        background-color: #0ef;
        position: absolute;
        border-radius: 10px;
        animation: animate 1s ease forwards;
        transform-origin: left;

    }
    .progress-line.html span{
        width: 90%;

    }
   
    .progress-line.css span{
        width: 75%;

    }
   
    .progress-line.js span{
        width: 60%;

    }
   
    .progress-line.react span{
        width: 95%;

    }
    .progress-line span::after{
        position: absolute;
        padding: 1px 8px;
        background-color: #000;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;
        top: -28px;
        right: -20px;
        animation: showText 0.5s 1.5s linear forwards;
        opacity: 0;

    }
    .progress-line.html span::after{
        content: "90%";
    }
    .progress-line.css span::after{
        content: "75%";
    }
    .progress-line.js span::after{
        content: "60%";
    }
    .progress-line.react span::after{
        content: "95%";
    }

    .progress-line span::before{
        content: "";

        position: absolute;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-block-width: 0px;
        border-right-width: 0px;
        top: -10px;
        right: 0;
        animation: showText 0.5s 1.5s linear forwards;
        opacity: 0;



    }
    .radial-bars{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
       
        

    }
    .radial-bars .radial-bar{
        width: 50%;
        height: 170px;
        margin-bottom: 10px;
        position: relative;

    }
    .radial-bars .radial-bar svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-90deg);
        width: 120px;
        height: 160px;


    }
    .radial-bars .radial-bar .progress-bar{
        stroke-width: 10;
        stop-color: black;
        fill: transparent;
        stroke-dasharray: 502;
        stroke-dashoffset: 502;
        stroke-linecap: round;
        animation: animate-bar 1s linear forwards;

    }
    @keyframes animate-bar {
        100%{
            stroke-dashoffset: -1;
        }
    }
    .path{
        stroke-width: 10;
        stroke: #0ef;
        fill: transparent;
        stroke-dasharray: 502;
        stroke-dashoffset: 502;
        stroke-linecap: round;

    }
    .path-1{animation: animate-path1 1s 1s linear forwards;}
    .path-2{animation: animate-path2 1s 1s linear forwards;}
    .path-3{animation: animate-path3 1s 1s linear forwards;}
    .path-4{animation: animate-path4 1s 1s linear forwards;}


    @keyframes animate-path1 {
        100%{
            stroke-dashoffset: 50;
        }
    }
    @keyframes animate-path2 {
        100%{
            stroke-dashoffset: 175;
        }
    }
    @keyframes animate-path3{
        100%{
            stroke-dashoffset: 50;
        }
    }
    @keyframes animate-path4 {
        100%{
            stroke-dashoffset: 100;
        }
    }
    .radial-bar .percentage{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,50%);
        font-size: 17px;
        font-weight: 500;
        color: aliceblue;
        animation: showText 0.5s 1s linear forwards ;

    }
    .radial-bar .text{
        width: 100%;
        position: absolute;
        text-align: center;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50px);
        font-size: 17px;
        font-weight: 500;
        color: aliceblue;
        animation: showText 0.5s 1s linear forwards;
        opacity: 0;

    }
    @keyframes showText {
        100%{
            opacity: 1;
        }
    }

   
    @keyframes slideRight {
        0% {
            transform: translateX(-100px);
            opacity: 0;


        }

        100% {
            transform: translateX(0px);
            opacity: 1;

        }
    }

    @keyframes slideLeft {
        0% {
            transform: translateX(100px);
            opacity: 0;


        }

        100% {
            transform: translateX(0px);
            opacity: 1;

        }
    }

    @keyframes slideTop {
        0% {
            transform: translateY(100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    @keyframes slideBottom {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @media only screen and (max-width: 768px) {
        *{
            background-color: transparent;
        }
        .home {
            
            position: relative;
            width: 100%;
            justify-content: space-between;
            height: 100vh;
            background: #081b29;
            background-size: cover;
            background-position: right;
            display: flex;
            align-items: center;
            padding: 70px 10% 0;
    
        }
        .about {
            text-transform: capitalize;
            grid-template-columns: 1fr;
            align-items: center;
        }

       .navbar  a {
        right: 20%;
        position: relative;
        top: 20%;
        text-align: center;
       }
       
      
        
      }

     